---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

I develop mathematical and machine learning tools for scientific applications, with a focus on nonequilibrium plasma flows. My work combines physics-informed models, reduced-order methods, and scalable surrogate architectures, bridging applied mathematics and engineering to enable fast, reliable simulations for real-world applications.

{% include base_path %}


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
